@{
    ViewData["Title"] = "Home Page";
}


    <img style= "padding:0px; margin:0px; width:1280" src="images/grade-calculator.png" />
<p><a href="https://google.com">Add a Student</a></p>

<p><a href="https://google.com">View Student</a></p>
<p><a href="https://google.com">Remove Student</a></p>

